.Card {
    position: relative;
    cursor: pointer;
    display: flex;
    width: 300px;
    height: 200px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #fff;
    border-radius: 20px;
  }
  .Card:before {
    content: ' ';
    background-image: url('../../assets/imgs/bg.jpg');
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
    border-radius: 20px;
  
  }
  
  .Card:hover {
    transform: scale(1.03);
    background-image: url('../../assets/imgs/bg.jpg');
  
  }

  .PokemonImg{
    height: 120px;
    width: 120px;
  }
  
  .DescPok {
    text-transform: capitalize;
    height: 100%;
  }
  
  .fakeBtn {
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    padding: 4px;
    width: 100%;
    border-radius: 8px;
  }
  