.Navbar {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(130, 120, 100, 1);
    height: 80px;
    display: flex;
    align-items: center;
    z-index: 5;
}


.Logo {
    height: 50px;
    width: 50px;
}