.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/imgs/bg2.jpg');
    z-index: 1;
    display: flex;
    justify-content: center;
    background-position: center;
    align-items: center;
}

.between {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: transparent;
}